.table {
  margin-top: 20px;
  overflow-y: scroll;
  /* overflow-y: auto; */
  /* padding-right: 20px; */
  color: #6a5d5d;
  background-color: #eeffff;
  height: 440px;
  border-radius: 5px;
  scrollbar-width: none; /* Firefox */
}

.table tr {
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar {
  display: none !important;
  /* width: 0px; */
}

.table td {
  padding: 0.5rem;
  /* border: none; */
}

.table tr:nth-of-type(odd) {
  background-color: #c3fdff;
}
